@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');




body {
  margin: 0;
  padding : 0;
  font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:"MONO" 1;
  font-size: 16px;
  background-color: #fafafa;
  color: #222;
  cursor: url('/IMG_4034 (1).png') 16 16, auto;
}

button {
  background: #222;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  font-family:  "Sono", monospace;
}
button:hover {
  transform: scale(1.05);
  background-color: rgb(102, 121, 185);
}

.question-text {
color: rgb(102, 121, 185);
font-weight: 900;
font-display: uppercase;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
  color: #070708;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}



.quiz-container {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  padding: 10px;
}

.dog-img {
  width: 250px;
  margin: 20px 0;
  border-radius: 12px;
}
.loading-gif {
  width: 500px;
  margin: 20px auto;
  max-width: 300px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fun-fact {
  animation: fadeSlideIn 1s ease-out;
  opacity: 1;
  margin-top: 20px;
  font-size: 1.6rem;
  color: #444;
  animation-fill-mode: backwards;
}

.intro-img {
  width: 200px;
  animation: bounceIn 1.2s ease-out;
  margin-bottom: 20px;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5) translateY(-50px);
    opacity: 0;
  }
  60% {
    transform: scale(1.05) translateY(10px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

body.dark {
  background-color: #222;
  color: #fafafa;
}

body.dark h1 {
  color: white;
}

body.dark h2 {
  color: white;
}


.dark button {
  background-color: #555;
}

body.dark .fun-fact {
  color: #ddd;
}


.top-controls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.intro-img {
  width: 100px;
  animation: spin 5s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .question-text {
    font-size: 1rem;
  }

  button {
    font-size: 0.9rem;
    padding: 8px 12px;
  }

  .intro-img {
    width: 80px;
  }

  .dog-img {
    width: 200px;
  }

  .loading-gif {
    width: 100%;
  }

  .fun-fact {
    font-size: 1.2rem;
  }
}
